/* CarList.css */

.sum-flex {
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 40px;
  color: #030b2a;
}

.sum-flex span {
  font-weight: 700;
  color: #f00d0d;
}

.car-card {
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 10px;
}

.car-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.car-details {
  padding: 10px;
}

.car-title {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.car-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.car-brand-model,
.car-year-km,
.car-location,
.car-price,
.car-average-price,
.car-price-difference {
  font-size: 14px;
}

.car-brand-model span,
.car-year-km span,
.car-location span,
.car-price span,
.car-average-price span,
.car-price-difference span {
  display: block;
  color: #555;
}

.car-location {
  font-size: 14px;
  color: #555;
}

.car-price {
  font-size: 16px;
  font-weight: bold;
  color: #1890ff;
}

.car-average-price,
.car-price-difference {
  font-size: 14px;
  font-weight: 500;
}

/* Fiyat Farkı Renkleri */
.car-price-difference span {
  font-size: 14px;
  font-weight: bold;
}

/* Kart Container */
.card-container {
  display: flex;
  flex-direction: column;
}

.ant-table-cell {
  padding: 8px !important;
}

/* Responsive Düzenlemeler */
@media (max-width: 768px) {
  .filter-section {
    width: 100%;
    border-right: none;
  }

  .carlist-container {
    flex-direction: column;
  }

  .sum-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .sum-flex-filter,
  .sum-flex-total {
    margin-bottom: 10px;
  }

  .table-section {
    padding: 0 !important;
    margin-left: -12px !important;
    width: calc(100% + 24px) !important;
  }

  .ant-card.ant-card-bordered {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #f0f0f0;
  }

  .car-title {
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: 500;
  }

  .car-info {
    gap: 4px;
  }

  .car-price {
    font-size: 16px;
    font-weight: bold;
    color: #1890ff;
  }

  .car-brand-model span,
  .car-year-km span,
  .car-location span,
  .car-price span,
  .car-average-price span,
  .car-price-difference span {
    font-size: 12px;
  }
}
