/* CarList.css */

@media (max-width: 768px) {
    .carlist-container {
      flex-direction: column;
    }
    .filter-section {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
    }
    .table-section {
      width: 100%;
    }
  }
  
  .sum-flex {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    color:#030b2a;

  }
  .sum-flex span {
    font-weight: 700;
    color:#f00d0d;
  }